@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply flex justify-center items-center h-screen w-full m-0 p-0 bg-black;
}
:root {
  --popup-background: black;
  --popup-text: yellow;
}
input {
  @apply focus:outline-none;
}

.bg-for-table {
  @apply mb-2 rounded-md shadow-xl;

  background-color: #444;
  &:nth-child(2n) {
    background-color: #333;
  }
}
@font-face {
  font-family: "Batman";
  src: url("./fonts/batmfa__.ttf") format("TrueType");
}
body{
  font-family:Batman;
}